/* TODO: design your profile with CSS */
element.style {
    margin-top: 0px;
}
body {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    font-size: 18px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #F4F4F4;
    display: block;
    margin: 8px;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
